ul ul {
  margin-top: 0;
  margin-bottom: 0;
}

nav > ul > li {
  padding-left: 0;
}

ol ol {
  margin-top: 0;
  margin-bottom: 0;
}

ol:not(.custom-ol) {
  counter-reset: item;
}

ol:not(.custom-ol) li::before {
  content: counters(item, ".") ". ";
  counter-increment: item;
}

ol:not(.custom-ol) ol li::before {
  content: counters(item, ".") " ";
  counter-increment: item;
}